# Deeper analysis of the data
The data is split into 10 classes, search for important attributes for each class.
or each **`train_smpl_<label>`** file, record the first 10 pixels, in order of the absolute
correlation value, for each street sign.

In [4]:
import numpy as numpy
import matplotlib.pyplot as plt
from Scripts import helperfn
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
X, y = helperfn.get_data(result_id=0)

In [12]:
X['1000'].corr(y['y'])

-0.010632142008883204

In [26]:
x_data = X['0'].astype(int).to_frame()
helperfn.append_result_col(x_data, y)

        0  y
0      78  0
1      73  0
2      72  0
3      67  0
4      74  0
...   ... ..
9685  247  1
9686  151  1
9687  255  1
9688  255  1
9689  252  1

[9690 rows x 2 columns]

In [24]:

for i in range(X.shape[1]):

'0'

In [25]:
'0'

'0'